<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <style>
      .container {
        width: 90%;
        margin: 2rem auto;
        padding: 2rem;
        font-family: Arial, Helvetica, sans-serif;
      }

      h1 {
        margin-bottom: 2rem;
        width: 75%;
      }

      p {
        line-height: 1.4;
        font-size: 1.1rem;
      }

      span {
        color: #809bff;
      }

      @media (max-width: 900px) {
        .container {
          width: 95%;
        }

        h1 {
          width: 90%;
          font-size: 1rem;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>
        Your <span>Challenge Board</span> Project Submission was Received, <%=
        user.username %>!
      </h1>

      <p>
        Great job completing your project! Keep leveling up those dev skills!
      </p>
      <p>Rock on! &#x1F3B8; &#x1F91F;</p>
    </div>
  </body>
</html>
