<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <style>
      .container {
        width: 75%;
        padding: 1rem 0;
        font-family: Arial, Helvetica, sans-serif;
      }

      h1 {
        margin-bottom: 1rem;
        font-size: 2rem;
      }

      p {
        line-height: 1.4;
        font-size: 1.1rem;
      }

      span {
        color: #809bff;
      }

      h1 > a {
        text-decoration: none;
      }

      @media only screen and (max-width: 900px) {
        .container {
          width: 100%;
          padding-left: 1rem;
        }

        h1 {
          font-size: 1.1rem;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>
        Your
        <a href="https://challengeboard.xyz/challenge"
          ><span>Challenge Board</span></a
        >
        Project Submission was Received, <%= user.username %>!
      </h1>

      <p>
        Great job completing your project! Keep leveling up those dev skills!
      </p>
      <p>Rock on! &#x1F3B8; &#x1F91F;</p>
    </div>
  </body>
</html>
